@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <div class="form-group row">
        <label for="Name" class="col-xs-2 col-form-label">Name project</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" id="Name" name="Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="NameCompanyOrder" class="col-xs-2 col-form-label">Name company oredrs</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" id="NameCompanyOrder" name="NameCompanyOrder">
        </div>
    </div>
    <div class="form-group row">
        <label for="NameCompanyExecuter" class="col-xs-2 col-form-label">Name company exectuter</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" id="NameCompanyExecuter" name="NameExecuterCompany">
        </div>
    </div>
    <div class="form-group row">
        <label for="StartDate" class="col-xs-2 col-form-label">Start Date</label>
        <div class="col-xs-10">
            <input class="form-control" type="date" id="StartDate" name="StartProjectDate">
        </div>
    </div>
    <div class="form-group row">
        <label for="EndDate" class="col-xs-2 col-form-label">End Date</label>
        <div class="col-xs-10">
            <input class="form-control" type="date" id="EndDate" name="EndProjectDate">
        </div>
    </div>
    <div class="form-group row">
        <label for="Range" class="form-label">Priority</label>
        <div class="col-xs-10">
            <input type="range" class="form-range" min="0" max="10" id="Range" name="priority">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 pt-md-5">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
